# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
build
artifacts
*.tfplan
*.tfstate
.terraform.lock.hcl
*.zip
*.log
yarn-error.log
bin
obj
.DS_Store
NuGet.config
nuget.config
**/terragrunt-debug.tfvars.json
**/.terraform
**/.terragrunt-cache
.idea/
*.sln.DotSettings.user
.vs/
**/.vscode/*